table > thead > tr > th {
    background: rgb(255, 255, 255) !important;
}
table > thead > th {
  background: rgb(255, 255, 255) !important;
}
.page-head{
    background: #ffffff;
    display: block !important;
}
.page-title {
    border-right:1px solid rgb(218, 218, 218);
}
.add_delete_button {
  display: none !important;
}
.page-title-2{
    border-top:1px solid rgb(218, 218, 218);
}
label{
    background-color:rgb(255, 255, 255) !important;
}
.no-print
{
    display: none !important;
}
td select, td input
{
    display: none !important;
}
.chosen-container {
    display: none !important;
}
.scroll_space {
    display: none !important;
}
.select-print {
    display: block !important;
    font-size:.8em;
}
.printpdf {
    font-size: small;
    vertical-align: middle;
    display:inline !important;
}
.printpdf_bottom {
    height:35px;
    width:100%;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-evenly;
    display: inline-block;
    background: #ffffff;
    display: inline-block !important;
}
.printpdf span{
    margin-left: 30px;
}
#entry {
    padding-left:0em !important;
}
.page-footer {
  background: #ffffff;
}
.page-body {
  display: block !important;
  width: 100%;
}
#dumper-entries {
  display: block !important;
  width: 100%;
}
#dumperwise_entry{
  width:100%;
  display: block !important;
}
#special_trips_div {
  display: block !important;
  width:100%;
}
body {
  display: block !important;
}
#excel_buttons {
  display: none !important;
}
#dumper_table > thead > tr > th {
  font-size:.8em;
}
#shovel_table > thead > tr > th {
  font-size:.8em;
}
.totalColumn, .totalQuantityColumn {
  font-size:.8em;
}
#shovel_table > tbody > tr > td > span {
  font-size:.8em;
}