
table {
    table-layout: fixed;
    font-weight: normal;
    text-align: center;
    border-collapse: collapse;
}
table tr td, table td {
    border: 1px solid #B9B9B9;
    padding: 2px 4px 2px 4px;
}
table thead th {
    border: 1px solid #B9B9B9;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 2px;
    font-weight:700;
    background: linear-gradient(to top, rgb(255, 255, 255), rgb(113,142,199));
    position:sticky;
    top:0;
    z-index: 1000;
}
#shovels_div {
    display: inline-block;
    position:relative;
    width:fit-content;
}
#grand_total { 
    display: inline-block;
    margin-bottom: 30px;
}
#grand_total > div{
  width:auto;
  margin-right: 60px;
  float: left;
}
.edit {
    display:    none;
    position:   absolute;
    z-index:    1000000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-color: #f1e9f2;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    opacity: 0.88;
}

.edit span{
    top: 35%;
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: large;
    font-weight: bold;
}
.edit div{
    top: 50%;
    width: 100%;
    text-align: center;
    position: absolute;
    font-weight: bold;
}

.inp{
    width:50px;
}

.inp1{
    width:70px;
}
.printpdf {
    display: none !important;
}
.printpdf_bottom {
    display: none !important;
}
#entry {
    display: block;
    padding-left:2em;
    padding-top: 1em;
}

/* //////////////////////CUSTOM STYLES */
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    border-collapse: collapse;
    font:inherit;
}
.page-head{
    height:130px;
    width:100%;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-evenly;
    display: inline-block;
    background: #6a85b6;
    background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(0,55,155,0.73));
    background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(0,55,155,0.73));
}
.page-footer{
    height:35px;
    width:100%;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-evenly;
    background: rgba(90, 68, 14, 0.5);
    font-size: smaller;
    display: inline-block;
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0,55,155,0.73));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0,55,155,0.73));
}
.page-body {
  display: inline-block;
  width: 100%;
}
#dumper-entries {
  display: flex;
  width: 100%;
}
#dumperwise_entry{
  width:100%;
}
#special_trips_div {
  display: none;
  width:100%;
}
body {
  display: inline
}
.separater_labels {
    width:1100px;
    text-align: center; 
    color: white;
    font-weight: bold; 
    background-color: #356656;
}
hr {
  background-color: #356656;
  height: 7px;
  width:1100px;
}
.ph-left{
    display: flex;
    float: left;
    height:130px;
}

.page-logo img{
    height: 100%;
}
.page-title {
    margin:10px;
    padding:5px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-right:1px solid lightgrey;
}
.page-title-1{
    padding:0;
    margin:0;
    font-size: 2rem;
    /* background:yellow; */
}
.page-title-2{
    padding:0 15px;
    margin:0;
    font-size:1.2rem;
    /* background:red; */
    border-top:1px solid lightgrey;
}

.ph-mid{
    float: left;
    margin-top: 20px;
}
#excel_buttons {
  display:none;
  width: 100%;
}
.arrow-right {
  border:none;
  padding:0.25em 3em 0.25em 1em;
  text-align:left;
  background:
    linear-gradient(-140deg, transparent 1em, #0099C3 1.05em , #0099C3 1.5em, transparent 1.45em, transparent 2em, #0099C3 2.05em) top no-repeat,
    linear-gradient(320deg, transparent 1em, #0099C3 1.05em , #0099C3 1.5em, transparent 1.45em, transparent 2em, #0099C3 2.05em) bottom no-repeat ;
  background-size: 100% 50%;
  color:white;
  height: 50px;
}
.arrow-left {
  border:none;
  padding:0.25em 3em 0.25em 1em;
  text-align:left;
  background:
    linear-gradient(320deg, transparent 1em, #0099C3 1.05em , #0099C3 1.5em, transparent 1.45em, transparent 2em, #0099C3 2.05em) top no-repeat,
    linear-gradient(-140deg, transparent 1em, #0099C3 1.05em , #0099C3 1.5em, transparent 1.45em, transparent 2em, #0099C3 2.05em) bottom no-repeat ;
  background-size: 100% 50%;
  color:white;
  height: 50px;
}

.select-print {
    display: none;
}

@keyframes error-flash{
    0%{
        border-color:red;
    }
    50%{
        border-color: transparent;
    }
}

.error_in_field > *{
    border:3px solid red;
    animation-name:error-flash;
    animation-duration:0.5s;
    animation-iteration-count:50;
}



@media print
{
    .no-print
    {
        display: none !important;
    }
    td select, td input
    {
        display: none !important;
    }
    .chosen-container {
        display: none !important;
    }
    .select-print {
        display: block;
    }
}
