
table {
    table-layout: fixed;
    font-weight: normal;
    text-align: center;
    border-collapse: collapse;
}
table tr td, table td {
    border: 1px solid #B9B9B9;
    padding: 2px 4px 2px 4px;
}
table thead th {
    border: 1px solid #B9B9B9;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 2px;
    font-weight:700;
    background: linear-gradient(to top, rgb(255, 255, 255), rgb(153, 173, 231));
    position:sticky;
    top:0;
    z-index: 10000;
}
.edit {
    display:    none;
    position:   absolute;
    z-index:    1000000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-color: #f1e9f2;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    opacity: 0.88;
}

.edit span{
    top: 35%;
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: large;
    font-weight: bold;
}
.edit div{
    top: 50%;
    width: 100%;
    text-align: center;
    position: absolute;
    font-weight: bold;
}

.inp{
    width:50px;
}

.inp1{
    width:70px;
}
.printpdf {
    display: none !important;
}
.printpdf_bottom {
    display: none !important;
}


/* //////////////////////CUSTOM STYLES */
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    border-collapse: collapse;
    font:inherit;
}
.page-head{
    height:130px;
    width:100%;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-evenly;
    background: #6a85b6;
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(81, 110, 190, 0.5));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(81, 110, 190, 0.5));
}

.ph-left{
    display: flex;
    float: left;
    height:130px;
}

.page-logo img{
    height: 100%;
} 
.page-title {
    margin:10px;
    padding:5px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-right:1px solid lightgrey;
}
.page-title-1{
    padding:0;
    margin:0;
    font-size: 2rem;
    /* background:yellow; */
}
.page-title-2{
    padding:0 15px;
    margin:0;
    font-size:1.2rem;
    /* background:red; */
    border-top:1px solid lightgrey;
}

.ph-mid{
    float: left;
    margin-top: 20px;
}

.select-print {
    display: none;
}

@media print
{
    .no-print
    {
        display: none !important;
    }
    td select, td input
    {
        display: none !important;
    }
    .chosen-container {
        display: none !important;
    }
    .select-print {
        display: block;
    }
}